<tr class="item_box">
    <td class="align-middle pe-3 ps-3">
        <div id="coupon_CouponDetails___name__" style="display: none">
            <input type="hidden" id="coupon_CouponDetails___name___Product" name="coupon[CouponDetails][__name__][Product]" class="form-control" />
        </div>
        <input type="hidden" id="coupon_CouponDetails___name___id" name="coupon[CouponDetails][__name__][id]" class="form-control" value="" />
        <input type="hidden" id="coupon_CouponDetails___name___coupon_type" name="coupon[CouponDetails][__name__][coupon_type]">

        <div class="item_name fw-bold">
            <div id="coupon_CouponDetails___name___product_name"></div>
        </div>
    </td>
    <td class="align-middle text-end pe-3 ps-3">
        <a class="btn btn-ec-actionIcon delete-item" data-bs-toggle="modal" data-bs-toggle="tooltip" data-bs-target="#confirmModal" data-bs-placement="top" title="{{ 'admin.common.delete'|trans }}">
            <i class="fa fa-close fa-lg text-secondary"></i>
        </a>
    </td>
</tr><!-- /.item_box -->
